<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install pandas
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [3]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=3ae8a41ae8b314fe2c76abee00969ef2"  #Make sure to change ******* to your API key.
response = requests.get(url)
response.json()

{'success': True,
 'timestamp': 1642710844,
 'base': 'EUR',
 'date': '2022-01-20',
 'rates': {'AED': 4.154948,
  'AFN': 118.777913,
  'ALL': 121.323147,
  'AMD': 544.861268,
  'ANG': 2.039132,
  'AOA': 602.859716,
  'ARS': 117.986586,
  'AUD': 1.564341,
  'AWG': 2.036753,
  'AZN': 1.914647,
  'BAM': 1.951397,
  'BBD': 2.28447,
  'BDT': 97.276396,
  'BGN': 1.952889,
  'BHD': 0.426379,
  'BIF': 2273.742796,
  'BMD': 1.131215,
  'BND': 1.523233,
  'BOB': 7.79007,
  'BRL': 6.149849,
  'BSD': 1.131425,
  'BTC': 2.6492587e-05,
  'BTN': 84.298634,
  'BWP': 13.012511,
  'BYN': 2.904415,
  'BYR': 22171.820295,
  'BZD': 2.280709,
  'CAD': 1.412747,
  'CDF': 2279.399084,
  'CHF': 1.037687,
  'CLF': 0.03291,
  'CLP': 908.094288,
  'CNY': 7.173047,
  'COP': 4497.146509,
  'CRC': 717.506933,
  'CUC': 1.131215,
  'CUP': 29.977206,
  'CVE': 110.417947,
  'CZK': 24.243534,
  'DJF': 201.039282,
  'DKK': 7.443521,
  'DOP': 65.440616,
  'DZD': 158.569248,
  'EGP': 17.813356,
  'ERN': 16.968252,
  'ETB': 56.108685,
  'EUR': 1,
  'FJD': 2.404858,
  'FKP': 0.823434,
  'GBP': 0.831547,
  'GEL': 3.484136,
  'GGP': 0.823434,
  'GHS': 7.09251,
  'GIP': 0.823434,
  'GMD': 59.558288,
  'GNF': 10214.874471,
  'GTQ': 8.717743,
  'GYD': 236.608335,
  'HKD': 8.808604,
  'HNL': 27.726293,
  'HRK': 7.523259,
  'HTG': 115.713099,
  'HUF': 356.333055,
  'IDR': 16204.037307,
  'ILS': 3.535829,
  'IMP': 0.823434,
  'INR': 84.158007,
  'IQD': 1652.139977,
  'IRR': 47793.84728,
  'ISK': 145.372129,
  'JEP': 0.823434,
  'JMD': 175.660862,
  'JOD': 0.802026,
  'JPY': 129.152552,
  'KES': 128.449409,
  'KGS': 95.906588,
  'KHR': 4604.046709,
  'KMF': 490.890586,
  'KPW': 1018.093967,
  'KRW': 1348.838302,
  'KWD': 0.341966,
  'KYD': 0.942941,
  'KZT': 493.261683,
  'LAK': 12768.026805,
  'LBP': 1711.528611,
  'LKR': 229.118619,
  'LRD': 170.814145,
  'LSL': 17.211406,
  'LTL': 3.340184,
  'LVL': 0.684261,
  'LYD': 5.175313,
  'MAD': 10.500507,
  'MDL': 20.445446,
  'MGA': 4522.025848,
  'MKD': 61.475623,
  'MMK': 2011.717972,
  'MNT': 3233.953613,
  'MOP': 9.073748,
  'MRO': 403.843675,
  'MUR': 49.829672,
  'MVR': 17.476753,
  'MWK': 923.63154,
  'MXN': 23.205294,
  'MYR': 4.738095,
  'MZN': 72.20522,
  'NAD': 17.211411,
  'NGN': 469.397734,
  'NIO': 40.101513,
  'NOK': 9.97924,
  'NPR': 134.878014,
  'NZD': 1.672983,
  'OMR': 0.435489,
  'PAB': 1.131525,
  'PEN': 4.355748,
  'PGK': 3.970737,
  'PHP': 58.119586,
  'PKR': 199.637204,
  'PLN': 4.520976,
  'PYG': 7873.076253,
  'QAR': 4.118755,
  'RON': 4.94409,
  'RSD': 117.600923,
  'RUB': 86.685144,
  'RWF': 1149.314766,
  'SAR': 4.243214,
  'SBD': 9.111754,
  'SCR': 16.704151,
  'SDG': 494.902786,
  'SEK': 10.413069,
  'SGD': 1.522927,
  'SHP': 1.55814,
  'SLL': 12811.013181,
  'SOS': 661.760643,
  'SRD': 24.050206,
  'STD': 23413.873234,
  'SVC': 9.900466,
  'SYP': 2841.612633,
  'SZL': 17.211426,
  'THB': 37.148835,
  'TJS': 12.779826,
  'TMT': 3.970566,
  'TND': 3.275436,
  'TOP': 2.56554,
  'TRY': 15.099009,
  'TTD': 7.671238,
  'TWD': 31.26622,
  'TZS': 2613.107212,
  'UAH': 32.04425,
  'UGX': 3982.700052,
  'USD': 1.131215,
  'UYU': 50.450504,
  'UZS': 12256.717658,
  'VEF': 241888023640.22015,
  'VND': 25622.027025,
  'VUV': 128.586845,
  'WST': 2.955122,
  'XAF': 654.467413,
  'XAG': 0.046183,
  'XAU': 0.000615,
  'XCD': 3.057166,
  'XDR': 0.806864,
  'XOF': 653.279279,
  'XPF': 119.484601,
  'YER': 283.086865,
  'ZAR': 17.192188,
  'ZMK': 10182.298666,
  'ZMW': 19.71544,
  'ZWL': 364.250872}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [4]:
# Turn the data into a dataframe
df = pd.DataFrame(response.json())
df

     success   timestamp base        date         rates
AED     True  1642710844  EUR  2022-01-20      4.154948
AFN     True  1642710844  EUR  2022-01-20    118.777913
ALL     True  1642710844  EUR  2022-01-20    121.323147
AMD     True  1642710844  EUR  2022-01-20    544.861268
ANG     True  1642710844  EUR  2022-01-20      2.039132
..       ...         ...  ...         ...           ...
YER     True  1642710844  EUR  2022-01-20    283.086865
ZAR     True  1642710844  EUR  2022-01-20     17.192188
ZMK     True  1642710844  EUR  2022-01-20  10182.298666
ZMW     True  1642710844  EUR  2022-01-20     19.715440
ZWL     True  1642710844  EUR  2022-01-20    364.250872

[168 rows x 5 columns]

In [5]:
# Drop unnescessary columns
df.drop(['success','timestamp','base','date'], axis=1, inplace=True)
df

            rates
AED      4.154948
AFN    118.777913
ALL    121.323147
AMD    544.861268
ANG      2.039132
..            ...
YER    283.086865
ZAR     17.192188
ZMK  10182.298666
ZMW     19.715440
ZWL    364.250872

[168 rows x 1 columns]

In [6]:
df.loc['GBP',:]

rates    0.831547
Name: GBP, dtype: float64

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [7]:
# Save the Dataframe
df.to_csv('exchange_rates1.csv')

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).